{% extends 'base.html' %}
{% block title %}{{ block.super }}Closet{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="header">Szafy</h1>
        <h1 class="header">Szafy</h1>
        <h1 class="header">Szafy</h1>
        <h1 class="header">Szafy</h1>
        <h1 class="header">Szafy</h1>
        <h1 class="header">Szafy</h1>
        <h1 class="header">Szafy</h1>
    </div>    <div class="container">
        <h1 class="header">Szafy</h1>
        <h1 class="header">Szafy</h1>
        <h1 class="header">Szafy</h1>
        <h1 class="header">Szafy</h1>
        <h1 class="header">Szafy</h1>
        <h1 class="header">Szafy</h1>
        <h1 class="header">Szafy</h1>
    </div>    <div class="container">
        <h1 class="header">Szafy</h1>
        <h1 class="header">Szafy</h1>
        <h1 class="header">Szafy</h1>
        <h1 class="header">Szafy</h1>
        <h1 class="header">Szafy</h1>
        <h1 class="header">Szafy</h1>
        <h1 class="header">Szafy</h1>
    </div>
{% endblock %}
