#background {
  position: fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 0.2;
}

body {
  background-color: rgba(0, 0, 0, 0.6);
}
#title{
  text-align: center;
  color: #ffb53b;
  font-size: 50px;
  font-family: "DejaVu Serif", sans-serif;
  -webkit-text-stroke: 1px black;
  //text-shadow: -1px 0 black, -1px 0 black, -1px 0 black, -1px 0 black;
}
#logoContainer {
  display: flex;
  align-content: center;
  justify-content: center;

  img {
    height: 368px;
    width: auto;
  }
}

#contentContainer {
  display: flex;
  justify-content: space-evenly;
  color: #e8b68d;
  font-size: 30px;
  font-family: "DejaVu Serif", sans-serif;
  transition: font-size 0.2s;
  text-decoration: none;

  p {
    margin-bottom: 10px;

    &:not(:first-child) {
      margin-top: 10px;
    }

    &:first-child {
      margin-top: 0
    }
  }


}

.pages-images {
  display: flex;
  flex-direction: column;
  width: 300px;

  a {
    color: #e8b68d;
    font-size: 40px;
    font-family: "DejaVu Serif", sans-serif;
    transition: font-size 0.2s;
    text-decoration: none;

    &:hover {
      font-size: 80px;
    }
  }

  img {
    height: 300px;
    width: auto;
  }
}